<% content_for :body_content_title do %>
  <%= @membership.title %>
<% end %>

<% content_for :body_content_left do %>
  
  <section>
    <h1>Page</h1>
<p>    <%=raw @membership.page_id %>
</p>
  </section>
  
  <section>
    <h1>Role</h1>
<p>    <%=raw @membership.role_id %>
</p>
  </section>
  
  <section>
    <h1>Title</h1>
<p>    <%=raw @membership.title %>
</p>
  </section>
  
<% end %>

<% content_for :body_content_right do %>
<aside>
  <h2><%= t('.other') %></h2>
  <ul id="memberships">
    <% @memberships.each do |membership| %>
      <li>
        <%= link_to membership.title, membership_url(membership) %>
      </li>
    <% end %>
  </ul>
</aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
