<%= form_for [:admin, @membership] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @membership,
    :include_object_name => true
  } %>
  
  <div class='field'>
    <%= f.label :page_id -%>
    <%= f.text_field :page_id, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :role_id -%>
    <%= f.text_field :role_id -%>
  </div>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('admin.memberships.membership.delete'),
                :delete_confirmation => t('shared.admin.delete.message', :title => @membership.title)
              } %>
<% end -%>
