<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(membership) -%>">
  <span class='title'>
    <%= membership.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), membership_url(membership),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_membership_path(membership),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_membership_path(membership),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('shared.admin.delete.message', :title => membership.title),
        :method => :delete %>
  </span>
</li>
