<div id="default_groups" class="dialog_area" style="display: none">
  <h3><%= t('assign_new_users_to_the_selected_groups', :scope => 'admin.memberships.settings')%>:</h3>
  <inout type="hidden" name="settings[memberships_default_roles][]" value="">
  <% if @roles.any? %>
    <% cnt = 0 %>
    <table>
      <% @roles.each_with_index do | role, idx | %>
        <% if idx % 4 == 0 %>
          <% if idx > 4 %>
           </tr>
          <% end %>
          <tr>
        <% end %>
        <td>
          <% is_active = RefinerySetting.find_or_set("memberships_default_roles", []).include?(role.id) %>
          <input id="role_cb_<%= role.id %>" type="checkbox" name="settings[memberships_default_roles][]" value="<%= role.id %>" >
          <label for="role_cb_<%= role.id %>"><%= role.title %></label>
        </td>
        <% cnt += 1 %>
      <% end %>
      <% if cnt % 4 != 0 %>
      <% while(cnt % 4 != 0) do %>
        <td></td>
        <% cnt += 1 %>
      <% end %>
      </tr>
      <% end %>
    </table>
  <% else %>
  <p>
    <%= t('no_groups_found', :scope => 'admin.memberships.settings')%>
  </p>
  <% end %>
  
  
</div>

<%= content_for :stylesheets do %>
<style>

  #default_groups table {
    width: 100%;
  }
  
  #default_groups td * {
    vertical-align: middle;
  }
  
  #default_groups td label {
    display: inline;
    margin: 3px;
  }
</style>
<% end %>