<div id="signup_settings" class="dialog_area">
  <h3><%= t('signup_confirmation', :scope => 'admin.memberships.settings')%>:</h3>
  
  
  <p class="field checkbox">
    <%= radio_button_tag "settings[memberships_confirmation]", 'no', RefinerySetting.find_or_set("memberships_confirmation", 'admin') == 'no' %>
    <label for="<%= "settings_memberships_confirmation_no" %>"><%= t('no_confirmation', :scope => 'admin.memberships.settings') %></label>
  </p>
   <p class="field checkbox">
    <%= radio_button_tag "settings[memberships_confirmation]", 'email', RefinerySetting.find_or_set("memberships_confirmation", 'admin') == 'email' %>
    <label for="<%= "settings_memberships_confirmation_email" %>"><%= t('email_confirmation', :scope => 'admin.memberships.settings') %></label>
  </p>
   <p class="field checkbox">
    <%= radio_button_tag "settings[memberships_confirmation]", 'admin', RefinerySetting.find_or_set("memberships_confirmation", 'admin') == 'admin' %>
    <label for="<%= "settings_memberships_confirmation_admin" %>"><%= t('admin_confirmation', :scope => 'admin.memberships.settings') %></label>
  </p>
  
  <br />
  
  <h3><%= t('membership_expiration', :scope => 'admin.memberships.settings')%>:</h3>
  
  
  <p class="field checkbox">
    <%= radio_button_tag "settings[memberships_timed_accounts]", false, RefinerySetting.find_or_set("memberships_timed_accounts", true) == false %>
    <label for="<%= "settings_memberships_timed_accounts_false" %>"><%= t('no_expiration', :scope => 'admin.memberships.settings') %></label>
  </p>
  <p class="field checkbox">
    <%= radio_button_tag "settings[memberships_timed_accounts]", true, RefinerySetting.find_or_set("memberships_timed_accounts", true) == true %>
    <label for="<%= "settings_memberships_timed_accounts_true" %>"><%= t('timed_expiration', :scope => 'admin.memberships.settings') %></label>
  </p>
  <% is_timed = (RefinerySetting.find_or_set("memberships_timed_accounts", true).to_s == 'true') %>
  <p class="field checkbox" <%= 'style="display: none;"'.html_safe unless is_timed %>>
    <label for="<%= "settings_memberships_default_account_validity" %>">
      <%= t('default_expiration_in', :scope => 'admin.memberships.settings') %>:
    </label>
    <%= select_tag "settings[memberships_default_account_validity]", options_for_select([
      [t('months', :count => 1) ,1],
      [t('months', :count => 2) ,2],
      [t('months', :count => 3) ,3],
      [t('months', :count => 4) ,4],
      [t('months', :count => 6) ,6],
      [t('years', :count => 1) ,12]
    ], RefinerySetting.find_or_set("memberships_default_account_validity", 12)),
    :disabled => (is_timed ? false : 'disabled') %>
  </p>
  
  
</div>

<%= content_for :stylesheets do %>
<style>
  #signup_settings p.field.checkbox input[type="text"] {
    width: 80px;
  }
</style>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function(){
    $('#signup_settings input[type="radio"][id*="memberships_timed_accounts"]').change(function(){
      var is_enabled = ($(this).val() == 'true' && $(this).is(':checked'));
      $('#settings_memberships_default_account_validity').attr('disabled', is_enabled ? '' : 'disabled');
      $('#settings_memberships_default_account_validity').parent()[is_enabled ? 'show' : 'hide']();
			$('#email_membership_extended')[is_enabled ? 'show' : 'hide']();
			$('#email_membership_extended input').attr('disabled', is_enabled ? '' : 'disabled');
		});

		$('#signup_settings input[type="radio"][id*="memberships_confirmation"]').change(function(){
			var val = $(this).val();
			$('#email_member_accepted')[val == 'admin' ? 'show' : 'hide']();
			$('#email_member_accepted input').attr('disabled', val == 'admin' ? '' : 'disabled');
			$('#email_member_rejected')[val == 'admin' ? 'show' : 'hide']();
			$('#email_member_rejected input').attr('disabled', val == 'admin' ? '' : 'disabled');
		});

  });
</script>
<% end %>
