<div id="admin_notifications" style="display: none;" class="dialog_area">
  <h3><%= t('deliver_admin_notifications_to', :scope => 'refinery.admin.membership_emails.settings')%>:</h3>  
  
  <%= fields_for :notification_setting, @notification_setting do | f | %>
  <div class='field'>
    <%= f.text_field :value, :value => f.object.value, # required, we can't use :value
                     :class => "widest" %>
  </div>

  <p>
    <%= t('.hint') %>
  </p>
  <p>
    <%= t('.example') %>
  </p>
  
  <% end %>
  
</div>