<fieldset>
  <h1><%=t('refinery.members.shared.account')%></h1>
  <ol>
    <li>
      <%= f.required_label :email %>
      <%= f.text_field :email %>&nbsp;
    </li>
    <%= "<li><span class='preview'>#{t('admin.users.form.blank_password_keeps_current')}</span></li>".html_safe if @member.persisted? %>
    <li>
      <%= f.required_label :password %>
      <%= f.password_field :password, :autocomplete => 'off' %>&nbsp;
    </li>
    <li>
      <%= f.required_label :password_confirmation %>
      <%= f.password_field :password_confirmation, :autocomplete => 'off' %>&nbsp;
    </li>
  </ol>
</fieldset>
