<% content_for :body_content_left do %>
  <%=raw @page.content_for(:body_above) if @page %>
  <%=raw @page.content_for(:body) if @page %>
  <div id="member">
    <%= render :partial => "static_account" %>
    <%= render :partial => "static_profile" %>
    <%= render :partial => "static_organization" %>
  </div>
  <%= link_to t('.edit_profile'), profile_members_path %>
  <%=raw @page.content_for(:body_below) if @page %>
<% end %>

<%= render :partial => "/refinery/content_page", :locals => {:hide_sections => [:bodybelow, :bodyabove]} %>
