<div id="content" class="clearfix"></div>
<table id="<%= kind %>_roles">
  <% items.each do |item|%>
    <tr class="<%= cycle("even", "odd") %>">
      <th><%= item[title_key] %></th>
      <% roles.each do |role| %>
        <td><label class="stripped"><%= role.title %>
            <%= check_box_tag "#{kind}[role_ids][]", "#{kind}_#{item.id}_role_#{role.id}", item.role_ids.include?(role.id) %>
          </label>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>