<%= form_for @new_password_request, :url => url do |f| %>
  <%= render :partial => "error_messages",
    :locals => {
    :object => @new_password_request,
    :include_object_name => true
  } %>
  <ol>
    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>&nbsp;
    </li>
  </ol>

  <fieldset class="submit">
    <%= render :partial => "form_actions",
      :locals => {
      :f => f,
      :continue_editing => false,
      :hide_delete => true
    }%>

  </fieldset>
<% end %>
