<%= form_for @password_reset, :url => url do |f| %>
  <%= render :partial => "error_messages",
    :locals => {
    :object => @password_reset,
    :include_object_name => true
  } %>
  <%= f.hidden_field :reset_password_token %>
  <ol>
    <li>
      <%= f.label :password %>
      <%= f.text_field :password %>&nbsp;
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation %>&nbsp;
    </li>
  </ol>

  <fieldset class="submit">
    <%= render :partial => "form_actions",
      :locals => {
      :f => f,
      :continue_editing => false,
      :hide_delete => true,
      :cancel_url => '/'
    }%>

  </fieldset>
<% end %>
